h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: hsl(180, 80%, 90%);
}

.container {
    width: 100%;
}

.banner {
    position: relative;
    height: 13.5em;
    background: hsl(220, 40%, 80%);
    margin: 0 auto;
}

.tooling {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.toolingwrap {
    width: 770px;
    background: hsl(185, 80%, 100%);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

.btnstyle {
    line-height: 3em;
    padding: 0 2em;
    cursor: pointer;
    min-width: 4em;
}

.btnstyle:hover {
    background: hsl(185, 10%, 90%);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px 5px hsla(220, 50%, 65%, 0.8);
    box-shadow: 0 0 10px 5px hsla(220, 50%, 65%, 0.8);
}

.btnstyle:active {
    background: hsl(185, 0%, 90%);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px 5px hsla(220, 50%, 100%, 0.6);
    box-shadow: 0 0 5px 5px hsla(220, 50%, 100%, 0.6);
}

.content {
    width: 100%;
    position: absolute;
}

.formpaper {
    width: 770px;
    margin: auto;
    background: hsl(185, 80%, 100%);
    display: flex;
}

.formheader {
    box-sizing: border-box;
    padding: 16px 24px 24px 42px;
    width: 750px;
}

.textarea {
    position: relative;
    padding-bottom: 8px;
}

.formtextInput {
    margin: 0;
    max-height: 2em;
    border: none;
    background: transparent;
    line-height: 24px;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    outline: none;
    flex-shrink: 1;
    font: 400 1em '標楷體', '微軟正黑體', sans-serif;
    overflow-y: visible;
    overflow-x: hidden;
}

.formtextInput.titletextarea {
    font-size: 2em;
    width: 100%;
    line-height: 135%;
}

.formtextInput.subtitletextarea {
    font-size: 1em;
    width: 100%;
    left: 135%;
}

.hrline {
    background: hsla(0, 0%, 0%, 0.25);
    height: 1px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}


/* doMenu */

.formfields {
    box-sizing: border-box;
    padding: 0 24px 24px 42px;
    width: 750px;
}

.dd {
    position: relative;
    display: inline-block;
    list-style: none;
    line-height: 20px;
}

.dd > .dd-list {
    min-height: 80px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    text-shadow: 0 1px 0 #fff;
    display: block;
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle {
    cursor: move;
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #aaa;
    background: #c8c8c8;
    background: -webkit-linear-gradient(top, #c8c8c8 0%, #8c8c8c 100%);
    background: -moz-linear-gradient(top, #c8c8c8 0%, #8c8c8c 100%);
    background: linear-gradient(top, #c8c8c8 0%, #8c8c8c 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/**
 * doMenu Draggable Handles
 */

.dd3-content {
    display: block;
    max-height: 100%;
    margin: 5px 0;
    padding-left: 35px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #898989;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #f4f4f4 10%, #c9c9c9 100%);
    background: -moz-linear-gradient(top, #f4f4f4 10%, #c9c9c9 100%);
    background: linear-gradient(top, #f4f4f4 10%, #c9c9c9 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 4px 2px -2px gray;
}

.dd3-content:hover {
    color: #2ea8e5;
    background: #c8c8c8;
    background: -webkit-linear-gradient(top, #e5e5e5 10%, #ffffff 100%);
    background: -moz-linear-gradient(top, #e5e5e5 10%, #ffffff 100%);
    background: linear-gradient(top, #e5e5e5 10%, #ffffff 100%);
}

.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}

.dd3-handle {
    position: absolute;
    cursor: move;
    width: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #807b7b;
    text-shadow: 0 1px 0 #807b7b;
    background: #c8c8c8;
    background: -webkit-linear-gradient(top, #c8c8c8 0%, #8c8c8c 100%);
    background: -moz-linear-gradient(top, #c8c8c8 0%, #8c8c8c 100%);
    background: linear-gradient(top, #c8c8c8 0%, #8c8c8c 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dd3-handle:before {
    content: '\2263';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.dd3-handle:hover {
    background: #c8c8c8;
    background: -webkit-linear-gradient(bottom, #c8c8c8 0%, #8c8c8c 100%);
    background: -moz-linear-gradient(bottom, #c8c8c8 0%, #8c8c8c 100%);
    background: linear-gradient(bottom, #c8c8c8 0%, #8c8c8c 100%);
}


/* tooling */

.singleline {
    padding: 0;
    margin-top: 5px;
    max-height: 1.5em;
}
.singleinput{
    padding: 5px;
    width: 90%;
    margin: 0.5em;
    font-size: 2em;
}
.answer{
    margin-top: -5px;
    height: 0;
    transition: height 1s;
    overflow: hidden;
}
.single.detail-showout{
    height: 80px;
}
.detail-showout{
    height: 120px;
}
.insidefiled{
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 0%, 0.8);
    box-shadow: inset 0 0 5px hsla(0, 0%, 0%, 0.8);
}
.select{
    margin: 5px;
    width: 95%;
}